<!DOCTYPE html>
<html lang="en">

<style type="text/css">
#colors_sketch
{
  border: 2px solid black;
}
</style>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Krunal Patel">

  <title>Hand Written Digit Recognition</title>

  <!-- Bootstrap Core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="../static/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body style="background: #DDDEE4"; >



<section align="center" style="padding-top: 2em;">
    <h1> Hand Written Digit Recognition</h1>

</section>

  <section  style="display: inline-block;width: 100%; padding-top: 2em;">
    <div class="tools" style="width: 50%; float: left;" align="center">
     <a href="#colors_sketch" data-tool="marker">Marker</a> <a href="#colors_sketch" data-tool="eraser">
     Eraser</a><br>
     <canvas id="colors_sketch" width="300" height="300"></canvas><br>

     <!-- <form action="" name="testform"  method="post" enctype="multipart/form-data">  -->

        <input type="hidden" name="test_image" value="">
        <button class="btn btn-primary btn-light btn-xl" id ="predict_button">
        Predict
      </button>
    <!-- </form> -->
  </div>

  <div style="width: 50%; float: right;" align="center"> 

    <h2  id= "header1" style="display:none; color: #BE4A47;"> Predicted Answer </h2><br>
    <h1>{{predictions}}</h1> 
    <h1 id="predicted_value" value=""> </h1>


    <h3 id="header2" style="display: none;"> Did we predict right? </h3><br>


    <button class="btn btn-secondary btn-xl btn-yes" id='button1'   style="display: none; " , value="" onclick="correct();" > Yes</button>
    &nbsp;&nbsp;&nbsp;   
    <button class="btn btn-secondary btn-xl" id='button2' style="display: none;" value="" onclick="improve();"> No</button> 
    <br><br>
    <h4 id="improve_ans" style="display: none;">What is the right answer ? </h4><br>


    <!-- <form id="move_form" action="/move" method="post" style="display: none;"> -->
        <input type="text"  id="right_ans" name="right_ans" value="" style="display: none;"><br><br>

        <input class="btn btn-primary btn-xl" type="submit" id="new_ans" value="Submit" style="display: none">
      
      <!-- </form> -->
    </div>

  </section>
  <br><br>
<section align="center">
  <h3 id="no_ans" style="display: none; color: green;"> Thank You for helping our model to Improve!</h3>

  <h4 id="correct_response" style="display: none; color: green;"> Thank you! Your resposnse is appreciated! </h4>
<br>
  <input class="btn btn-primary btn-xl" id='refersh_button' type="button" value="Do More!" onClick="window.location.reload(true)" 
  style="display: none;">


</section>


  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/stylish-portfolio.min.js"></script>


  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="https://cdn.rawgit.com/mobomo/sketch.js/master/lib/sketch.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    $(function () {
      $('#colors_sketch').sketch();
      $(".tools a").eq(0).attr("style", "color:#000");
      $(".tools a").click(function () {
        $(".tools a").removeAttr("style");
        $(this).attr("style", "color:#000");     
      });

      $("#new_ans").click(function(){
            var Xhttp = new XMLHttpRequest();

            Xhttp.onreadystatechange = function() {

              if (this.readyState =4 && this.status ==200){
                document.getElementById("no_ans").style.display = "inline-block";
                document.getElementById("refersh_button").style.display ="inline-block";
              }
            };
            var data = document.getElementById('right_ans').value

            Xhttp.open('GET', 'http://127.0.0.1:5000/move?right_ans='+ data,true);

            Xhttp.send();

      });

      $("#predict_button").on("click",function(){

          var image_xml = new XMLHttpRequest();
          var image = document.getElementById("colors_sketch").toDataURL();
          image_xml.onreadystatechange = function(){
            if (this.status == 200){
              document.getElementById("header1").style.display = "inline-block";
              document.getElementById("predicted_value").value = this.responseText;

            }
          };

          $.ajax({
                url:"/predict",
                contentType:"application/x-www-form-urlencoded; charset=UTF-8",
                // send the base64 post parameter
                data:{image},
                // important POST method !
                type:"post",
                success: function(response){
                  document.getElementById("header1").style.display = "inline-block";
                  document.getElementById("button1").style.display = "inline-block";
                  document.getElementById("button2").style.display = "inline-block";
                  document.getElementById("header1").style.display = "inline-block";
                  document.getElementById("header2").style.display = "inline-block";
                  document.getElementById("predict_button").disabled = true;

                  $("#predicted_value").html(response);
                }    
              });
         
          

    });

  });

    function test_data(){
      document.testform.test_image.value = $('#colors_sketch')[0].toDataURL('image/png');
      document.getElementById("button1").style.display = "inline-block";
      document.getElementById("button2").style.display = "inline-block";
      document.getElementById("header1").style.display = "inline-block";
      document.getElementById("header2").style.display = "inline-block";
      document.forms["testform"].submit();

    };


    

    function correct(){
      document.getElementById('correct_response').style.display = "inline-block";
      document.getElementById('button2').disabled = true;
      document.getElementById('refersh_button').style.display = "inline-block";
    };

    function improve(){
      document.getElementById('right_ans').style.display = 'inline-block';
      document.getElementById('new_ans').style.display = 'inline-block';
      document.getElementById('button1').disabled = true;
      document.getElementById('improve_ans').style.display = 'inline-block';
    };
  </script>

</body>

</html>
